*{
    margin: 0px;
    padding: 0px;
}
 .cuerpo{
    box-sizing: border-box;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(204, 192, 192);
}
.logo{
    display: flex;
justify-content: center;
margin: 20px;
}
.menu {
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.submenu {
    background-color:rgba(92, 86, 86, 0.7);
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    float: left;
    padding-block-end: 270%; 
}   
.titulo {
    display: flex;
    flex: auto;
    flex-wrap: wrap;    
    box-sizing: border-box;
    justify-content: center;
    float: right;
    margin-top: 0px;
    width: 80%; 
    color:black;  
}
.Genero {
    
}
.personajes{
    margin-top: 0px;
    padding: 2em 1em ;
    width: 80%;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    float: right;
}
.cards {
    background-color:rgba(252, 246, 246, 0.925);
    width: 250px;
    height: auto;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;   
}
.text {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.texto {
    margin-top: 0px;
    align-items: left;
    justify-content: left;
    text-align: left;
    box-sizing: border-box;
}
.cards-img {
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.cards-img img {
    width: 100%;
    height: auto;
}