*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.menu {
    background-color: rgb(92, 86, 86);
    position:fixed;
    width: 100%;
    display: flex;
    z-index: 1;
    color: white;
    padding: 5px;
}
.submenu{

color:white;
text-align: center;
}
.logo{
 width: 200px;
    margin-top: 10%;
}

.logoPoter{
    width: 80%;
   position: relative;
   right: -8%;   
}
.btn1{
    background-color: rgba(92, 86, 86, 0.7);
    margin-bottom: 13%;
    width: 81%;
    color: white;
    height: 47px;
    margin-top: 7%;
}
.seleccionar{
    width: 80%;
    height: 30px;
    background-color: rgba(92, 86, 86, 0.7);
    margin-bottom: 10%;
    color: white;
    margin-top: 6%;
}
.titulo {
    float: right;
    width: 71%;
    color: black;
    margin: 2%;
    font-size: 93%;
    margin-top: 235px;
}
.personajes{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 31%;   
}
.cards {
    background-color: rgba(252, 246, 246, 0.925);
    width: 233px;
    margin: 6px;
    padding: 40px;
    font-size: 18px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url(../src/img/1.png);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 5%;

}
.text {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.texto {
    margin-top: 0px;
    align-items: left;
    justify-content: left;
    text-align: left;
    box-sizing: border-box;
}
.cards-img {
    margin:auto;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.cards-img img {
    display: flex;
    width: 103%;
    height: 150%;
}
.orden{
    margin: 0px;
    padding: 0px;
    /* font-family: 'Roboto', sans-serif;
    box-sizing: border-box; */
}

 @media (min-width:801px){

.menu {
        width: 200px;
        height: 100%;
        flex-direction: column;
       
    }
.submenu{
        margin-top: 50%;
    color:white;
    text-align: center;
    }

    .titulo {
        font-size: 200%;
        margin-top: 31px;
    }
    .personajes{
        padding: 2em 1em ;
        justify-content: space-around; 
        margin: -5%;  
        margin-left: -15%;
       
    }
    .cards {
        background-color: rgba(252, 246, 246, 0.925);
        width: 237px;
        margin: 13px;
        padding: 45px;
    }
    .btn1{
        background-color: rgba(92, 86, 86, 0.7);
        margin-bottom: 10%;
        width: 100%;
        height: 50px;
        color:white;
        } 
}